.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background: linear-gradient(
    135deg,
    rgba(72, 61, 139, 0.5),
    rgba(25, 25, 112, 0.5)
  );

  min-height: 100vh;
}

.image {
  width: 50%;
}

.connect-text {
  color: #fffaf0;
  font-size: 25px;
  font-family: Bree Serif;
  font-weight: 500;
  text-align: center;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .image {
    width: 60%;
  }
  .connect-text {
    font-size: 20px;
    width: 80%;
  }
  .thank-you-container {
    padding-top: 150px;
  }
}
